name: Docker Image CI

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        name: Check out code

      - name: Set env from github secrets
        uses: oNaiPs/secrets-to-env-action@v1
        with:
          secrets: ${{ toJSON(secrets) }}
          exclude: DOCKER_USERNAME, DOCKER_PASSWORD

      - name: Generate config.yml
        run: |
          envsubst < config.template.yml > config.yml

      - name: Show generated config.yml
        run: cat config.yml

      - uses: mr-smithers-excellent/docker-build-push@v6
        name: Build & push Docker image
        with:
          image: duongsonn/local-app-workspace-server
          tags: latest
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
